<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/js/index.mjs"></script>
    <title>Chat Básico</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat">
            <div class="message received">
                <p>Hola, ¿cómo estás? Ingresa tu pedido</p>
            </div>
            <div class="message sent">
                <p>¡perfecto, estoy en la busqueda de!</p>
            </div>
            <!-- Agrega más mensajes aquí -->
        </div>
        <div class="input-container">
            <input type="text" placeholder="Escribe un mensaje">
            <button>Enviar</button>
        </div>
    </div>
</body>

</html>  
{{> realTimeProducts}}
